<form [formGroup] = "addressInfo">
<div class="case-container">
    <div class="header-label">Address Information</div>
    <div class="row mb-5">
        <div class="col-6">
            <div>
                <label for="Block" class="form-label">Block</label>
                <input type="text" class="form-control" id="Block" placeholder="" formControlName="Block">
            </div>
        </div>
        <div class="col-6">
            <div>
                <label for="Street" class="form-label">Street</label>
                <input type="text" class="form-control" id="Street" placeholder="" formControlName="Street">
            </div>
        </div>
    </div>
    <div class="row mb-5">
        <div class="col-4">
            <div>
                <label for="UnitNumber" class="form-label">Unit Number</label>
                <input type="text" class="form-control" id="UnitNumber" placeholder="" formControlName="UnitNumber">
            </div>
        </div>
        <div class="col-4">
            <div>
                <label for="Floor" class="form-label">Floor</label>
                <input type="text" class="form-control" id="Floor" placeholder="" formControlName="Floor">
            </div>
        </div>
        <div class="col-4">
            <div>
                <label for="PostalCode" class="form-label">Postal Code</label>
                <input type="text" class="form-control" id="PostalCode" placeholder="" formControlName="PostalCode">
            </div>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-6"><button class="btn btn-secondary btn-lg" (click)="onBack()"> < </button></div>
        <div class="col-6 right-align"><button class="btn btn-primary btn-lg" (click)="onSubmit()" [disabled]='!addressInfo.valid' >Next</button></div>
    </div>
</div>
</form>