<div class="case-container">
    <div class="header-label">Review</div>
    <div class="review-content">
        <p><strong>Personal Information</strong></p>
        <p>{{ currentCase.PersonalInformation.GivenName }} {{ currentCase.PersonalInformation.LastName }}</p>
        <p>{{ currentCase.PersonalInformation.Gender }}, {{ currentCase.PersonalInformation.DOB }}</p>
        <p>{{ currentCase.PersonalInformation.IDType }}, {{ currentCase.PersonalInformation.IDNumber }}, {{ currentCase.PersonalInformation.ExpDate }}</p>
        <p><strong>Address Information</strong></p>
        
        <p>{{ currentCase.AddressInformation.Block }} {{ currentCase.AddressInformation.Street }}</p>
        <p>#{{ currentCase.AddressInformation.UnitNumber }}-{{ currentCase.AddressInformation.Floor }} Singapore {{ currentCase.AddressInformation.PostalCode }}</p>
        
        <p><strong>Work Information</strong></p>
        <p>{{ currentCase.WorkInformation.CompanyName }} {{ currentCase.WorkInformation.ContactNumber }}</p>
        <p>{{ currentCase.WorkInformation.Position }}, {{ currentCase.WorkInformation.YearOfService }} year(s)</p>
        
    </div>
    <div class="row">
        <div class="col-6"></div>
        <div class="col-6 right-align"><button class="btn btn-primary btn-lg" (click)="onSubmit()">Close</button></div>
    </div>
</div>