<div class="main-container">
    <div class="login-cotainer">
        <div class="header-label">System log-in</div>
        <div class="mb-3">
            <label for="UserID" class="form-label">User ID</label>
            <input type="text" class="form-control" id="UserID" placeholder="" [formControl]="UserID">
        </div>
        <div class="mb-3">
            <label for="Password" class="form-label">Password</label>
            <input type="password" class="form-control" id="Password" placeholder="" [formControl]="Password">
        </div>
        <div class="mb-3 right-align">
            <button class="btn btn-primary btn-lg" type="button" (click)="onSubmit()">Sign-in</button>
        </div>
        <div *ngIf="withError" class="alert alert-danger mb-3" role="alert">{{ errorDescription }}</div>
    </div>
</div>