.main-container, .login-cotainer{
    position: fixed;
    margin: auto;
    z-index: 999;
    top: 0; left: 0; right: 0; bottom: 0;
    height: 100%;
    width: 100%;
}

.login-cotainer{
    height: fit-content;
    width: 400px;
    border: thin solid #ccc;
    padding: 24px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 3px 3px 3px #333;
}