.nav-container{
    background-color: white;
    border: thin solid #ccc;
    box-shadow: 3px 3px 3px #ccc;
    margin: auto;
    margin-bottom: 24px;
    margin-top: 24px;
    left: 0; right: 0; top: 30px;
    width: 40%;
    padding: 24px;
    border-radius: 10px;
    text-align: center;
}

.btn-link{
    text-decoration: none;
    color: black;
    padding: 0;
    padding-right: 45px;
}


.nav-last{
    padding-right: 0;
}
.col-3{
    min-width: 200px;
}

.check-gray{
    color:gray;
}

.check-green{
    color: darkcyan;
}

.check{
    font-weight: 600;
    font-size: 1.2rem;
}