<div class="nav-container">
    <button id="personal" class="btn btn-link" disabled (click)="onPerson()">
        <span class="check check-green hidden">&#10003;</span>
        <span class="circle check-gray" >&#9679;</span> Personal Information
    </button>
    
    <button id="address" class="btn btn-link" disabled (click)="onAddress()">
        <span class="check check-green hidden">&#10003;</span>
        <span class="circle check-gray" >&#9679;</span> Address Information
    </button>

    <button id="work" class="btn btn-link" disabled (click)="onWork()">
        <span class="check check-green hidden">&#10003;</span>
        <span class="circle check-gray" >&#9679;</span> Work Information
    </button>

    <button id="summary" class="btn btn-link" disabled (click)="onSummary()">
        <span class="check check-green hidden">&#10003;</span>
        <span class="circle check-gray" >&#9679;</span> Summary
    </button>
</div>