<form [formGroup] = "workInfo">
<div class="case-container">
    <div class="header-label">Work Information</div>
    <div class="row mb-5">
        <div class="col-6">
            <div>
                <label for="Company" class="form-label">Company Name</label>
                <input type="text" class="form-control" id="Company" placeholder="" formControlName="CompanyName">
            </div>
        </div>
        <div class="col-6">
            <div>
                <label for="ContactNumber" class="form-label">Contact Number</label>
                <input type="text" class="form-control" id="ContactNumber" placeholder="" formControlName="ContactNumber">
            </div>
        </div>
    </div>
    <div class="row mb-5">
        <div class="col-6">
            <div>
                <label for="Position" class="form-label">Position</label>
                <input type="text" class="form-control" id="Position" placeholder="" formControlName="Position">
            </div>
        </div>
        <div class="col-6">
            <div>
                <label for="YearOfService" class="form-label">Year of Service</label>
                <input type="text" class="form-control" id="YearOfService" placeholder="" formControlName="YearOfService">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-6"><button class="btn btn-secondary btn-lg" (click)="onBack()"> < </button></div>
        <div class="col-6 right-align"><button class="btn btn-primary btn-lg" (click)="onSubmit()" [disabled]="!workInfo.valid">Review</button></div>
    </div>
</div>
</form>