<form [formGroup] = "personalInfo">
<div class="case-container">
    <div class="header-label">Personal Information</div>
    <div class="row mb-5">
        <div class="col-6">
            <div>
                <label for="GivenName" class="form-label">Given Name</label>
                <input type="text" formControlName="GivenName" class="form-control" id="GivenName" placeholder="">
            </div>
        </div>
        <div class="col-6">
            <div>
                <label for="LastName" class="form-label">Last Name</label>
                <input type="text" formControlName="LastName" class="form-control" id="LastName" placeholder="">
            </div>
        </div>
    </div>
    <div class="row mb-5">
        <div class="col-4">
            <div>
                <label for="DOB" class="form-label">Date of Birth</label>
                <input type="date" formControlName="DOB" class="form-control" id="DOB" placeholder="">
            </div>
        </div>
        <div class="col-4">
            <div>
                <label for="Gender" class="form-label">Gender</label>
                <select  class="form-select" id="Gender" formControlName="Gender">
                    <option value="0"></option>
                    <option value="F">Female</option>
                    <option value="M">Male</option>
                </select>
            </div>
        </div>
        <div class="col-4">
            <div>
                <label for="Nationality" class="form-label">Nationality</label>
                <select  class="form-select" id="Nationality" formControlName="Nationality">
                    <option *ngFor="let list of NationalityList" value="{{ list.alpha_2_code }}"> {{list.nationality}}</option>
                    
                </select>
            </div>
        </div>
    </div>
    <div class="row mb-5">
        <div class="col-4">
            <div>
                <label for="IDType" class="form-label">ID Type</label>
                <select  class="form-select" id="IDType" formControlName="IDType">
                    <option value="0"></option>
                    <option value="N">NRIC</option>
                    <option value="M">Malaysian NRIC</option>
                    <option value="P">Passport</option>
                </select>
            </div>
        </div>
        <div class="col-4">
            <div>
                <label for="IDNumber" class="form-label">ID Number</label>
                <input type="text" class="form-control" id="IDNumber" placeholder="" formControlName="IDNumber">
            </div>
        </div>
        <div class="col-4">
            <div>
                <label for="ExpDate" class="form-label">Expiration Date</label>
                <input type="date" class="form-control" id="ExpDate" placeholder="" formControlName="ExpDate">
            </div>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-6"><button class="btn btn-secondary btn-lg" (click)="onBack()"> < </button></div>
        <div class="col-6 right-align"><button class="btn btn-primary btn-lg" [disabled]="!personalInfo.valid" (click)="onSubmit()">Next</button></div>
    </div>
</div>
</form>
