.dashboard-header, .dashboard-container{
    padding: 20px;
    background-color: white;
    border-bottom: thin solid #333;
    box-shadow: 3px 3px 3px #ccc;
    font-size: 1.2rem;
}

.dashboard-container{
    margin: 3rem;
}

ul {
    list-style-type: none;
}

.case-id{
    color: rgb(23, 115, 219);
}

.photo{
    width: 90px;
    height: 90px;
    padding: 2px;
    border: thin solid #ccc;
    border-radius: 50%;
    margin-right: 16px;
}