<div class="dashboard-header">
    <div class="row">
        <div class="col-6"><img class="photo" src="{{ photo }}" /> <strong>{{ userLogin.name }}</strong></div>
        <div class="col-5 right-align"><button class="btn btn-success" (click)="onCreate()">Create Case</button></div>
        <div class="col-1 right-align"><button class="btn btn-secondary" (click)="onSignOut()">Sign out</button></div>
    </div>
</div>

<div class="dashboard-container">
    <div class="row">
        <div class="col-3 center-align">Case ID</div>
        <div class="col-3 center-align">Profile</div>
        <div class="col-3 center-align">Date Submitted</div>
        <div class="col-3 center-align">Case Status</div>
    </div>
    <div><hr /></div>
    <ul>
        <li *ngFor="let case of data">
            <div *ngIf="!noRecord" class="row mb-3">
                <div class="col-3"><span class="case-id" (click)="onResume()">{{case.id}}</span></div>
                <div class="col-3">{{case.PersonalInformation.GivenName}} {{case.PersonalInformation.LastName}}</div>
                <div class="col-3 center-align">{{case.DateSubmited}}</div>
                <div class="col-3 center-align">{{case.Status}}</div>
            </div>
        </li>
    </ul>
    
    <div *ngIf="noRecord" class="header-label center-align">{{ caseListDescription }}</div>
</div>
