/* You can add global styles to this file, and also import other style files */
body, html, .loader {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    background-color: rgb(238, 238, 238);
}

.header-label{
    font-size: 1.7rem;
    font-weight: 600;
    padding: 1rem;
    margin-bottom: 1.5rem;
}

.right-align{
    text-align: right;
}

.center-align{
    text-align: center;
}

.border-on{
    border: thin solid #ccc;
}

.case-container, .loader, .loader>.img-loader{
    position: fixed;
    margin: auto;
    z-index: 999;
    top: 0; left: 0; right: 0; bottom: 0;
    height: fit-content;
    width: 40%;
    border: thin solid #ccc;
    padding: 24px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 3px 3px 3px #333;
}

.case-container{
    position:relative;
}

.hidden{
    display: none;
}

.loader{
    background-color:rgba($color: #000000, $alpha: 0.5);
    height: 100%;
    width: 100%;
    z-index: 999;
    border-radius: 0;
}

.loader>.img-loader{
    height: 122px;
    width: 122px;
    border-radius: 60px;
    padding: 0;
}

.loader>.img-loader>img{
    height: 120px;
}